Package: me.thepapaya.weibointl
Name: weibo.intl++
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make WeiboIntl a real DarkMode Look.
Maintainer: ray
Author: ray
Section: Tweaks
Depiction: https://thepapaya.me/cydia/depictions/?p=me.thepapaya.weibointl

